<h1>Albuns Cadastrados</h1>
<%= link_to 'Novo Album', new_record_path %>

<table>
  <tr>
    <th>Artista</th>
    <th>Album</th>
    <th></th>
  </tr>

  <% @record.each do |record| %>
    <tr>
      <td><%= record.artist %></td>
      <td><%= record.album %></td>
      <td><%= link_to 'Show', record_path(record) %></td>
    </tr>
  <% end %>
</table>
